<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The Tech Blog | MCV</title>
  <link rel="stylesheet" href="/stylesheets/sytle.css">
</head>

<body>
    <div class="navbar">
       <div class="container">
            <a class="logo" href="#">The Tech Blog <span>| MCV</span></a>

             <section class="hero"></section>
         
          <span><a href="/">home</a></span> 
          {{#if loggedIn}}
         
          <a href="/dashboard">dashboard</a>
          <button id="logout" class="btn-no-style">logout</button>
          {{else}}
          <a href="/login">login</a>
          {{/if}}
         </div>
    </section>
    {{!-- </header> --}}

    
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>