@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007AF3;
}
  body, html {
    
    padding: 1%;
    font-family: 'Poppins';
  }
  

  .navbar {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
  }
  
  .navbar .logo span {
    color: var(--primary-color);
  }
  
  .navbar nav {
    display: none;
  }
  
  .navbar .container {
    padding: 1%;
    border-bottom: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
  }
  
  a {
    text-decoration: none;
    color: #34aaf4;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: #3486eb;
  }
  
  button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3486eb;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
    list-style-type:none;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1%;
    background-color: rgb(153, 186, 180);
    /* background: white;
    padding: 1em;
     */
  }
  
 
header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: white
 
}

  main {
    flex: 1;
    padding: 2% 4%;
  }

  nav {
      padding: 1.2rem;
      text-align: right;
      white-space: pre;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title {
    font-style: italic;
    font-size: 1.25rem;
    color: #7d7d7d;
  }

  .post .title span {
    font-style: italic;
    font-size: 0.8rem;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #f0f5ff;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input, textarea {
    width: 80%;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }

  .row {
      display: flex;
  }

  .column {
      flex: 50%;
      padding: 1.25rem;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }